.header__lang-link_line {
  color: #ffffff;
  width: 30px;
  height: 28px;
  position: relative;
  text-decoration: underline;
}

.header__lang-link_line:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 500px) {
  .header__lang-link_line {
    width: 22px;
    height: 20px;
  }
}
