.place__title {
  grid-area: title;
  max-width: 330px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  margin: 0;
  padding-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .place__title {
    padding: 0;
    padding-bottom: 48px;
    font-size: 42px;
    font-style: normal;
    line-height: 46px;
  }
}

@media screen and (max-width: 1024px) {
  .place__title {
    padding: 0;
    padding-bottom: 48px;
    font-size: 42px;
    font-style: normal;
    line-height: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    max-width: 440px;
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 1280px) {
  .place__title {
    max-width: 460px;
  }
}
@media screen and (max-width: 600px) {
  .place__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 500px) {
  .place__title {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
