.photo-grid__item {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 0 auto 92px;
  padding: 0 48px;
  max-width: 1184px;
  line-height: 0;
}

@media screen and (min-width: 1280px) {
  .photo-grid__item {
    padding: 0;
  }
}

@media screen and (max-width: 1150px) {
  .photo-grid__item {
    gap: 14px;
  }
}

@media screen and (max-width: 910px) {
  .photo-grid__item {
    gap: 16px;
    padding: 0 24px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 500px) {
  .photo-grid__item {
    gap: 12px;
    padding: 0 16px;
    margin-bottom: 64px;
  }
}
