.place__paragraph {
  width: 100%;
  grid-area: text1;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28.9px;
  margin: 0;
  padding: 0;
  grid-auto-flow: column;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 600px) {
  .place__paragraph {
    max-width: 90%;
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px;
    padding: 0 24px;
  }
}
@media screen and (max-width: 500px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 285px;
    padding: 0 16px;
  }
}
