.place {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title website"
    "image text1"
    "image text2"
    "image .";
  max-width: 984px;
  grid-column-gap: 16px;
  padding-top: 80px;
  margin: 0 auto;
}

.place:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-column-gap: 16px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-column-gap: 28px;
    padding: 73px 24px 0;
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "title"
      "website"
      "image"
      "text1"
      "text2";
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
  }
}
