.intro__title {
  padding: 0;
  margin: 0;
  padding: 92px 0 40px;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  max-width: 690px;
}

@media screen and (max-width: 1000px) {
  .intro__title {
    padding: 88px 0px 40px;
  }
}

@media screen and (max-width: 480px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    padding: 64px 0px 40px;
    max-width: 250px;
  }
}
